* {
    margin: 0;
    padding: 0;
}

.Container {
    background-color: white;
 
}

.Header {
    background-color: #f2DDDC;
    height: 80px;
}

#mylogo {
    height: 50px;
    margin-top: 15px;
    margin-left: 55px;

}

.photo-container{
    width: 60%;
    margin: auto;
    text-align: center;

}


#myphoto {
    height: 150px;
    padding-top: 5%;

}


.project-container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;

}

.photo-block {
    width: 32%;
    position: relative;

}


.photo-block img{
    width: 100%;

}

.project-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    /* transition: opacity 0.2s, visibility 0.2s; */
}

.photo-block:hover .project-description{
    visibility: visible;
    
}

.photo-block:hover img{
    opacity: 0.5;
    
}


.photo-block p {
    /* transform: translateY(1); */
    /* transition: 0.2s; */
    font-family: Poppins;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.photo-block:hover p{
    transform: translate(0px);
    
}

.portfolio-project {
    cursor: pointer;
}

.listinheader a {
    text-decoration: none;
}


a:hover {color: #EC576B;}
a { color: #5E5C5C; text-decoration: none;}



/* Make components align horizontally */
.i-block {
    display: inline-block;
}


.listinheader {
    width: 100%;
    margin-top: -40px;
    margin-left: -70px;
    text-align: right;
}

.block {
    width: 8%;
    display: inline-block;
    font-family: Raleway;


}


#paragraph1 {
    color: #78B4B6;
    font-family: Raleway;
    display:inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.big {
    color: #5E5C5C;
    font-family: Neue Haas Grotesk Text Pro;
    display:inline-block;
    font-size: 43px;
    font-weight: 500;
}

#paragraph2 {
    margin-top: 20px;
}

#paragraph5 {
    color: #F16F60;
    font-family: Raleway;
    display:inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

#paragraph6 {
    color: #F16F60;
    font-family: Raleway;
    display:inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}


.project-button {
    color: #5E5C5C;
    border-radius: 35px;
    background: #FCECCB;
    font-family: Raleway;
    padding: 20px; 
    width: 200px;
    height: 20px; 
    margin: auto;
    margin-top: 30px;
  }




.leisure-button {
    color: #5E5C5C;
    border-radius: 35px;
    background: #FCECCB;
    font-family: Raleway;
    padding: 20px; 
    width: 200px;
    height: 20px; 
    margin: auto;
    margin-top: 30px;
    text-align: center;

}

  
#mail-icon:hover {
    background-color: #55acee;
}

#dribbble-icon:hover {
    background-color: #ea4c89;
}

#linkedin-icon:hover {
    background-color: #0E76A8;
}

#github-icon:hover {
    background-color: #333333;
}

/* Modal Image ############################### */
#myImg {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

/* 100% Image Width on Smaller Screens, if below 700px, this will activate */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}